* {
  box-sizing: border-box;
  margin: 0;
}

h1, h2 {
  text-align: center;
  line-height: 1.4;
  word-spacing: 1px;
  letter-spacing: 0.4em;
}

h2 {
  font-size: 18px;
}

.css-rules {
  margin: 60px 0px 0px 10px;
  line-height: 1.5;
}

.color, .fonts {
  margin: 40px 0px 0px 10px;
  line-height: 1.5;
}

.color-swatches {
  border: 5px solid #dde2ec;
  margin: 10px auto;
  width: 90%;
  height: 80px;
  overflow: hidden;
  padding: 0px;
}

.side div {
  display: inline;
}

.color-1 {
  width: 20%;
  height: 80px;
  background-color: #000000;
  margin: 0;
  float: left;
}

.color-2 {
  background-color: #19302b;
  width: 20%;
  height: 80px;
  margin: 0;
  float: left;
}

.color-3 {
  background-color: #170f56;
  width: 20%;
  height: 80px;
  margin: 0;
  float: left;
}

.color-4 {
  background-color: #224c72;
  width: 20%;
  height: 80px;
  margin: 0;
  float: left;
}

.color-5 {
  background-color: #cacdcc; 
  width: 20%;
  height: 80px;
  margin: 0;
  float: right;
}

.swatches-name {
  color: navy;
}

.swatches-name li {
  display: inline-block;
}

.hex li {
  display: inline-block;
}

.bk {
  margin-left: 15px;
}

.g {
  margin-left: 50px;
}

.b1 {
  margin-left: 50px;
}

.b2 {
  margin-left: 50px;
}

.bg {
  margin-left: 50px;
}


.bk1 {
  margin-left: 15px;
}

.g1 {
  margin-left: 35px;
}

.b11 {
  margin-left: 40px;
}

.b21 {
  margin-left: 30px;
}

.bg1 {
  margin-left: 30px;
}

.fonts div {
  margin: 50px 0px;
}

#font-1 {
  margin-top: 10px;
}

.font-1 p {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
}

.font-2 p {
  font-family: 'Cormorant SC', serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px; 
}

.font-3 p {
  font-family: 'Raleway', sans-serif;
}

.font-4 p {
  font-family: 'Cormorant', serif;
  font-style: italic;
}

// .color-swatches {
//   width: 300px;
//   height: 100px;
//   border: 10px solid #dde2ec;
// }
